@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(/images/new\ year.jpg) center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading-title{
    font-size: 1rem;
    padding-bottom: 1em;
}
.festival-title {
    font-size: 6.8rem;
    font-family: 'Inspiration', cursive;
    font-weight: 100;
}
.countdown{
    display: flex;
}
.countdown-text{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1em;
}
h6{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
